.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.grid td.entrance{
	background-color: green;
}

.grid td.entranceWithAvatar{
	background-color: green;
	background-image: url("../img/avatar.jpg");
	background-size: 33px 33px;
}

.grid td.blank {
	background-image: none;
}

.grid td.blankWithAvatar{
	background-image: url("../img/avatar.jpg");
	background-size: 33px 33px;
}

.grid td.unoccupied {
    background-image: url("../img/empChair.png");
    background-size: 33px 33px;
}

.grid td.unoccupiedWithAvatar {
	background-image: url("../img/avatar.jpg");
	background-size: 33px 33px;
}

.grid td.occupied{
	background-image: url("../img/occChair.png");
	background-size: 33px 33px;
}

img{
    width:33px; height:33px;
}
